<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Edit your Listing:</h3>

        <form action="/listings/<%=listing.id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required> 
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <textarea type="text" class="form-control" type="text" name="listing[description]" required><%= listing.description%> </textarea>
            </div>

            <div class="mb-3 ">
                Original Listing Image 
                <br> <img src="<%= OriginalImageUrl %>" class="row col-5">
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Upload new Image</label>
                <input name="listing[image]" class="form-control" type="file" > 
            </div>

            <div class="row mt-3">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">price</label>
                    <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required> 
                </div>
    
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" value="<%= listing.location %> " class="form-control" required> 
                </div>
    
            </div>
           
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %> " class="form-control" required> 
            </div>

            <div class="mb-3">
                <label for="category" class="form-label" > Choose Suitable Category</label>
                <div class="valid-feedback">Category should be valid</div>
                <select id="category"  name="listing[category]" class="form-control" placeholder="Choose suitable Category">
                    <option selected value="<%= listing.category %>"><%= listing.category %></option>
                    <option value="Trending">Trending</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Iconic Cities">Iconic Cities</option>
                    <option value="Mountain">Mountain</option>
                    <option value="Castles">Castles</option>
                    <option value="Amazing pools">Amazing pools</option>
                    <option value="Camping">Camping</option>
                    <option value="Farms">Farms</option>
                    <option value="Arctic">Arctic</option>
                    <option value="Beach">Beach</option>
                    <option value="Boats">Boats</option>
                </select>
            </div>
            
            <button class="btn btn-dark edit-btn mt-4">Edit</button> <br>
        </form>
    </div>
</div>